<nb-card>
  <ng-template [ngIf]="this.currentState === 'yesCart' && this.noClasses === false && this.message ===''">
    <nb-card-header>
      <span>Cart</span>
    </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" (deleteConfirm)="onDeleteConfirm($event)" [source]="source"></ng2-smart-table>
    <br/>
    <button (click)="submitToAdvisor()" id="submitBtn" type="button" class="btn btn-success">Send to Advisor</button>
  </nb-card-body>
</ng-template>

<ng-template [ngIf]="this.currentState === 'yesCart' && this.noClasses === false && this.message !== ''">
  <nb-card-header>
    <span>Cart</span>
  </nb-card-header>
<nb-card-body>
  <div class="alert alert-danger" role="alert" *ngIf="this.currentCart?.status === 'rejected'">
    Message from advisor: <b>{{ this.message }}</b>
  </div>
  <ng2-smart-table [settings]="settings" (deleteConfirm)="onDeleteConfirm($event)" [source]="source"></ng2-smart-table>
  <br/>
  <button (click)="submitToAdvisor()" id="submitBtn" type="button" class="btn btn-success">Send to Advisor</button>
</nb-card-body>
</ng-template>
<ng-template [ngIf]="this.currentState === 'yesCart' && this.noClasses === true">
  <nb-card-header>
    <span>Cart</span>
  </nb-card-header>
  <nb-card-body>
    Please add classes to your cart to send a request to your advisor
</nb-card-body>
<nb-card-footer  >
  <button (click)="goToRequestClasses()" type="button" class="btn btn-success">Request Classes</button>
</nb-card-footer>
</ng-template>

<ng-template [ngIf]="this.currentState === 'updatedCart'">
  <nb-card-header>
    <span>Cart</span>
  </nb-card-header>
<nb-card-body>
  <ng2-smart-table [settings]="settings" (deleteConfirm)="onDeleteConfirm($event)" [source]="source"></ng2-smart-table>
  <br/>
  <button (click)="submitToAdvisor()" id="submitBtn" type="button" class="btn btn-success">Submit Updated Cart</button>
</nb-card-body>
</ng-template>

  <ng-template [ngIf]="this.currentState === 'noCart'">
    <nb-card-header>
      <span>Cart</span>
    </nb-card-header>
    <nb-card-body>
      No cart has been created yet
    </nb-card-body>
    <nb-card-footer  >
      <button (click)="goToRequestClasses()" type="button" class="btn btn-success">Request Classes</button>
    </nb-card-footer>
  </ng-template>


  <ng-template [ngIf]="this.currentState === 'sentCart'">
    <nb-card-header>
      <span>Cart</span>
    </nb-card-header>
    <nb-card-body>
      Your class request has been sent to your advisor.
      <br/>
      <br/>
      <b>Status</b>: {{ this.currentCart.status }}.
    </nb-card-body>
    <nb-card-footer >
      <button (click)="goToRequestProgress()" type="button" class="btn btn-success">Request Progress</button>
    </nb-card-footer>
  </ng-template>


</nb-card>
