<nb-card size="small">
  <nb-card-body>
    <div *ngIf="this.currentUser?.profilePicture !== undefined" class="picture" style.background-image="url('{{currentUser?.profilePicture}}')"></div>

    <div class="details">
      <div class="title">
        {{ this.currentUser?.fullName }}
      </div>
      <div class="description">
        <br>
        <b>School:</b> {{ this.currentUser?.university }}
        <br>
        <br>
        <b>Major:</b> {{ this.currentUser?.major | uppercase }}
        <br>
        <br>
        <b>Year:</b> {{ this.currentUser?.status | ngxCapitalize}}
        <br/>
        <br/>
        <b>Role:</b> {{ this.currentUser?.role | ngxCapitalize }}
        <br/>
        <br/>
      </div>
      <br/>
    </div>
  </nb-card-body>
  <nb-card-footer>
  </nb-card-footer>
</nb-card>
