<nb-card size="medium">
  <nb-card-header>
    <span> Profile Preview </span>
  </nb-card-header>
  <nb-card-body>
    <!-- <div class="picture" style.background-image="url(/assets/images/pic.png)"> </div> -->

    <div class="details">
      <div class="name bold">
        {{ currentUser.fullName }}
      </div>
      <div class="description">
        School: {{ currentUser.university }},
        <br>
        Major: {{ currentUser.major }},
        <br>
        Year: {{ currentUser.status }},
      </div>
      <div>
  <ul>
      <li *ngFor="let class of classes">
      {{class._id}}
    </li>
  </ul>
</div>
    </div>
  </nb-card-body>


  <nb-card-footer>

  </nb-card-footer>
</nb-card>
