<style>
  .item-1 {
  	float: left;
  	width: 150px;
  }
  .item-2 {
  	margin: 0;
  	float: left;
  	width: 300px;
    line-height: 1.6;
  }
</style>
<p-growl [(value)]="msgs"></p-growl>
<div class="row">
  <div class="col-sm-4 col-md-4">
    <nb-card size="small">
      <nb-card-header>
        <span> Student Info </span>
      </nb-card-header>
      <nb-card-body>
        <br>
        <!-- <div class="item-1">
          <img src="../../../../assets/images/batmanfb.jpg" style="width:128px;height:128px;">
        </div> -->
        <div class="item-2">
            <b>Student ID:</b> {{ currentUser.studentID }}
            <br>
            <b>Name:</b> {{ currentUser.firstName }} {{ currentUser.lastName}}
            <br>
            <b>School:</b> {{ currentUser.university }}
            <br>
            <b>Major:</b> {{ currentUser.major | uppercase }}
            <br>
            <b>Year:</b> {{ currentUser.status | ngxCapitalize}}
            <br>
            <b>Advisor:</b> {{ currentUser.advisor | ngxCapitalize}}
        </div>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-sm-8 col-md-8">
    <nb-card>
      <nb-card-header>Make an Appointment</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-3">
            <h6>Pick a Day: </h6>
            <ngb-datepicker #dp placeholder="yyyy-mm-dd" name="date" id="date" [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-8">
  
              <h6>Pick a Time: </h6>
              <br>
              <form (ngSubmit)="onSubmit()" #form="ngForm">
                <ngb-timepicker name="time" id="time" [(ngModel)]="newAppointment.time" [meridian]="meridian"></ngb-timepicker>
                <br>
                <div class="input-group">
                   <button class="input-group-addon" type="button">
                     <i class="fa fa-calendar fa-2" aria-hidden="true"></i>
                   </button>
                   <input class="form-control" placeholder="yyyy-mm-dd" name="date" id="date" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                </div>
                <br>
                <div class="btn-group btn-group" role="group" style="float:right;">
                  <button class="btn btn-success btn-group-icon btn-group-divider btn-fixed" type="button">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button>
                  <button type="submit" class="btn btn-success">Send Appointment</button>
                </div>
              </form>
          </div><!-- end of col -->
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
