<style>
  .item-1 {
  	float: left;
  	width: 150px;
  }
  .item-2 {
  	margin: 0;
  	float: left;
  	width: 300px;
    line-height: 1.6;
  }
</style>
<div class="row">
  <div class="col-sm-4 col-md-4">
    <nb-card size="small">
      <nb-card-header>
        <span> Student Info </span>
      </nb-card-header>
      <nb-card-body>
        <br>
        <!-- <div class="item-1">
          <img src="../../../../assets/images/batmanfb.jpg" style="width:128px;height:128px;">
        </div> -->
        <div class="item-2">
            <b>Student ID:</b> {{ currentUser?.studentID }}
            <br>
            <b>Name:</b> {{ currentUser?.firstName }} {{ currentUser?.lastName}}
            <br>
            <b>School:</b> {{ currentUser?.university }}
            <br>
            <b>Major:</b> {{ currentUser?.major | uppercase }}
            <br>
            <b>Year:</b> {{ currentUser?.status | ngxCapitalize}}
            <br>
            <b>Advisor:</b> {{ currentUser?.advisor | ngxCapitalize}}
            <br>
            <b>Advisor Room:</b> {{ currentUser?.advisorRoom | ngxCapitalize}}
        </div>
      </nb-card-body>
      <nb-card-footer>
      </nb-card-footer>
    </nb-card>
  </div>
    <nb-card>
      <nb-card-header>Make an Appointment</nb-card-header>
      <nb-card-body>
        <div class="container">
        <div class="row">
          <div class="col">
            <h6>Pick a Day: </h6>
            <ngb-datepicker #dp placeholder="yyyy-mm-dd" name="date" id="date" [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
          </div>
          <div class="col">
              <h6>Pick a Time: </h6>
              <br>
              <form (ngSubmit)="onSubmit()" #form="ngForm">
                <ngb-timepicker name="time" id="time" [(ngModel)]="newAppointment.time" [meridian]="meridian"></ngb-timepicker>
                <br>
                <br>
                <br>
                <div class="btn-group btn-group" role="group">
                  <button class="btn btn-success btn-group-icon btn-group-divider btn-fixed" type="button">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button>
                  <button type="submit" class="btn btn-success">Send Appointment</button>
                </div>
              </form>
          </div><!-- end of col -->
        </div>
      </div>
      </nb-card-body>
    </nb-card>
</div>
