<nb-layout>
  <nb-layout-header>
    <ngx-header></ngx-header>
  </nb-layout-header>
  <nb-layout-column>
    <div class="container">
      <br><br><br><br><br><br>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="title-content text-center">
            <h1>Faster. Efficient. Advisement</h1>
            <p>A web app that will assist college students through the majority of advising requirements while in pursuit of a degree.</p>
          </div>
        </div>
        <div class="col-md-3">

        </div>
      </div>
      <br><br><br>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6 text-center">
          <button (click)="login($event)" type="button" name="button" id="login-btn" class="btn btn-success">Login</button>
        </div>
        <div class="col-md-3">

        </div>
      </div>
      <br><br><br><br><br><br>
      <div class="row">
        <iframe id="video-youtube" width="760" height="515" src="https://www.youtube.com/embed/KvtpK-UZhXI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <br><br><br><br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <h3>Secure Login</h3>
          <img src="/assets/images/advise-me-1.png" alt="" class="screenshot">
        </div>
        <div class="col-md-5">
          <h3>Dashboard</h3>
          <img src="/assets/images/advise-me-2.png" alt="" class="screenshot">
        </div>
        <div class="col-md-1"></div>
      </div>
      <br><br><br>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <h3>Request Advisor Appointment</h3>
          <img src="/assets/images/advise-me-3.png" alt="" class="screenshot">
        </div>
        <div class="col-md-5">
          <h3>Class Approval System</h3>
          <img src="/assets/images/advise-me-4.png" alt="" class="screenshot">
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
</nb-layout>
