#video-youtube {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
}

#login-btn {
  height: 100px;
  width: 400px;
}

.screenshot {
  max-width: 500px;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #0c0c0c;
  padding:5px;
}
