  dashboard works!
  <div *ngIf="signedIn">
    <h1>Hi {{currentUser.username}}!</h1>
      <p>You're logged in with the MEAN Stack Angular 2!!</p>
      <h3>All registered users:</h3>
      <ul>
          <li *ngFor="let user of users">
              {{user.fullName}}
          </li>
      </ul>
      <p><a [routerLink]="['/logout']">Logout</a></p>
  </div>
  <div *ngIf="!signedIn">
    <h3>If you wish to view your dashboard please
      <p><a [routerLink]="['/logout']">login</a></p>
    </h3>
  </div>
