<!-- Student-->
<div *ngIf="role == 'student'">
  <div class="row">
    <div class="col-md-3">
      <ngx-profile-preview></ngx-profile-preview>
    </div>
    <div class="col-md-9">
      <ngx-future-classes></ngx-future-classes>
    </div>

  </div>
  <!-- Bottom row -->
  <div class="row">
    <div class="col-md-6">
        <ngx-current-classes></ngx-current-classes>
    </div>
    <div class="col-md-6">
      <ngx-previous-classes></ngx-previous-classes>
    </div>
  </div>
</div>

<!-- Advisor-->
<div *ngIf="role == 'advisor'">
  <div class="row">
    <div class="col-md-3" style="height:600px;">
      <ngx-profile-preview></ngx-profile-preview>
    </div>
    <div class="col-md-9">
      <ngx-underlings></ngx-underlings>
    </div>
    <div class="col-md-12">
      <ngx-student-list></ngx-student-list>
    </div>
  </div>
</div>

<!-- Admin-->
<div *ngIf="role == 'admin'">
  <div class="row" style="height:600px;">
    <div class="col-md-3">
      <ngx-profile-preview></ngx-profile-preview>
    </div>
  </div>
</div>

<div class="tutorial-background" *ngIf="tutorialEnabled">
  <div class="tutorial">
    <nb-card>
      <nb-card-header>
        <span>Tutorial - {{items[index].header}}</span>
      </nb-card-header>
      <nb-card-body>
        {{items[index].content}}
      </nb-card-body>
      <nb-card-footer>
        <button *ngIf="index !== items.length - 1" class="nextBtn btn btn-info" type="button" (click)="finish()">Skip</button>
        <button *ngIf="index !== items.length - 1" class="nextBtn btn btn-primary" type="button" (click)="openNext()">Next</button>
        <button *ngIf="index === items.length - 1" class="nextBtn btn btn-info" type="button" (click)="finish()">Finish</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
