  <nb-card>
    <nb-card-header>
      <div> <h4>Request Classes</h4> </div>
      <br>
      <div class="subtitle">{{description}}</div>
    </nb-card-header>
    <nb-card-body>

      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (userRowSelect)="onUserRowSelect($event)"
        #table>
      </ng2-smart-table>
    </nb-card-body>
    <br/>
    <nb-card-footer>
      <ng-template [ngIf]="this.cart?.status === 'created'">
          <button [disabled]="buttonDisabled" (click)="addToCart()" type="button" class="btn btn-success">Add To Cart</button>
      </ng-template>
      <ng-template [ngIf]="this.cart?.status === 'pending' || this.cart?.status === 'updated'">
          <button [disabled]="buttonDisabled" (click)="updatedCart()" type="button" class="btn btn-success">Update Cart</button>
      </ng-template>
      <ng-template [ngIf]="this.cart?.status === 'rejected'">
          <button [disabled]="buttonDisabled" (click)="addToCart()" type="button" class="btn btn-success">Add Fixed Classes</button>
      </ng-template>
    </nb-card-footer>
  </nb-card>
