  <nb-card>
    <nb-card-header>
      <div> Request Classes </div>
      <br>
      <div class="subtitle">{{description}}</div>
    </nb-card-header>
    <nb-card-body>

      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (userRowSelect)="onUserRowSelect($event)"
        #table>
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  <span *ngIf="this.buttonDisabled === false">
    <span *ngFor="let i of selectedClasses">
      {{ i._id }}
    </span>
  </span>

<ng-template [ngIf]="this.cart?.status === 'created'">
  <nb-card>
    <button [disabled]="buttonDisabled" (click)="addToCart()" type="button" class="btn btn-success">Add To Cart</button>
  </nb-card>
</ng-template>

<ng-template [ngIf]="this.cart?.status === 'pending' || this.cart?.status === 'updated'">
  <nb-card>
    <button [disabled]="buttonDisabled" (click)="updatedCart()" type="button" class="btn btn-success">Update Cart</button>
  </nb-card>
</ng-template>

<ng-template [ngIf]="this.cart?.status === 'rejected'">
  <nb-card>
    <button [disabled]="buttonDisabled" (click)="addToCart()" type="button" class="btn btn-success">Add Fixed Classes</button>
  </nb-card>
</ng-template>
