<nb-card>
  <nb-card-header>
    <div><span>Requested Classes</span></div>
  </nb-card-header>
  <nb-card-body>
    <div class="subtitle">
        <b>Name:</b> {{ this.studentUser?.firstName }} {{ this.studentUser?.lastName }}
      <br>
        <b>Major:</b> {{ this.studentUser?.major | uppercase }}
      <br>
        <b>Year:</b> {{ this.studentUser?.status | ngxCapitalize }}
    </div>
    <br>
    <div class="alert alert-danger" role="alert" *ngIf="this.cart?.pastMessage">
        Past Message: <b>{{ this.cart?.pastMessage | ngxCapitalize }}</b>
    </div>
    <hr>
    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>
        <button type="button" class="btn btn-success" (click)="approveOnClick()" name="button">Approve</button>
    </nb-card-footer>
</nb-card>
<nb-card>
  <nb-card-body>
    <div class="input-group">
      <input id="requstedChangeTextbox" style="float:left" placeholder="Requested changes.."(keyup)="onKey($event)" type="text"class="form-control" id="basic-url" aria-describedby="basic-addon3">
      <span class="input-group-append">
        <button id="requestedChangeButton" type="button" [disabled]="requestButtonStatus" (click)="requestOnClick()" name="button" class="btn btn-danger input-group-text">
          Request Changes
        </button>
      </span>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
  <div class="row">
    <div class="col-md-6">
        <ngx-student-current-classes [student_id]="this.route.snapshot.params['id']" ></ngx-student-current-classes>
    </div>
    <div class="col-md-6">
      <ngx-student-previous-classes [student_id]="this.route.snapshot.params['id']" ></ngx-student-previous-classes>
    </div>
  </div>
</nb-card-body>
</nb-card>
