<form role="form" (ngSubmit)="register()" style="max-width: 500px;" class="form-register">
  <h1 class="form-signin-heading">Register Account</h1>
  <br>
  <div class="form-group row">
    <input type="text"
      name="name"
      placeholder="Full Name"
      class="form-control"
      [(ngModel)]="model.fullName"/>
  </div>
  <div class="form-group row">
    <!-- Username -->
    <input type="text"
      name="username"
      [(ngModel)]="model.username"
      placeholder="Create a Username"
      class="form-control"
    />
  </div>
  <div class="form-group row">
    <!-- Password -->
    <input type="password"
      name="password"
      [(ngModel)]="model.password"
      placeholder="Create a Password (8 - 20 Characters)"
      class="form-control"
    />
  </div>
  <div class="form-group row">
    <!-- Password -->
    <input type="password"
      name="password-confirmation"
      placeholder="Confirm Password"
      class="form-control"
    />
  </div>
  <div class="form-group row">
    <input type="email"
      name="email"
      placeholder="University Email Address"
      class="form-control"
      [(ngModel)]="model.universityEmail"/>
  </div>
  <div class="form-group row">
    <input type="email" name="email-confirmation" placeholder="Confirm Email" class="form-control"/>
  </div>
  <br>
  <div class="form-group row">
    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign Up</button>
  </div>

  <a [routerLink]="['/login']" class="btn btn-link">Login</a>
</form>
