
<nb-card>
<nb-card-header>
  Change Password
</nb-card-header>
<nb-card-body>
  <div class="alert alert-danger" role="alert" *ngIf="showText === true">
    The passwords do not match
  </div>
  <div class="input-group">
    <input [(ngModel)]="password" (ngModelChange)="compare()" type="password" placeholder="Password" class="form-control" id="password"/>
  </div>
  <br>
  <div class="input-group">
    <input [(ngModel)]="confirmPassword" (ngModelChange)="compare()" type="password" placeholder="Confrim Password" class="form-control" id="confirmPassword"/>
  </div>
</nb-card-body>
<nb-card-footer>
  <button [disabled]="disableButton" (click)="submit()" type="button" value="submit" class="btn btn-outline-success btn-block">Change Password</button>
</nb-card-footer>
</nb-card>
