<div class="row">
  <div class="col-md-2">
  </div>
    <div class="col-md-7">
      <nb-card>
        <nb-card-header>
          <span class="glyphicon glyphicon-comment"></span> {{ roomName }}
        </nb-card-header>
        <nb-card-body>
          <div class="panel panel-primary">
              <div #scrollMe class="panel-body">
                  <ul class="chat">
                      <li *ngFor="let c of chats">
                        <div class="left clearfix" *ngIf="c.nickname===msgData.nickname; else rightchat">
                          <span class="chat-img pull-left">
                            <img class="img-circle" [src]="'/uploads/' + currentUser?.profilePicture" alt="User Avatar"  />
                          </span>
                          <div class="chat-body clearfix">
                              <div class="header">
                                  <strong class="primary-font">{{ c.nickname }}</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
                              </div>
                              <p class="message">{{ c.message }}</p>
                          </div>
                        </div>
                        <ng-template #rightchat>
                          <div class="left clearfix">
                            <span class="chat-img pull-left">
                              <img src="http://placehold.it/50/FA6F57/fff&text=U" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                              <div class="header">
                                  <strong class="primary-font">{{ c.nickname }}</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>{{ c.updated_at | date: 'medium' }}</small>
                              </div>
                                <p class="message">{{ c.message }}</p>
                            </div>
                          </div>
                        </ng-template>
                      </li>
                  </ul>
              </div>
          </div>
      </nb-card-body>
        <nb-card-footer>
          <div class="panel panel-primary panel-footer">
            <form (ngSubmit)="sendMessage()" #msgForm="ngForm">
              <div class="input-group">
                  <input type="hidden" [(ngModel)]="msgData.room" name="room" />
                  <input type="hidden" [(ngModel)]="msgData.nickname" name="nickname" />
                  <input id="btn-input" type="text" [(ngModel)]="msgData.message" name="message" class="form-control input-sm" placeholder="Type your message here..." required="" />
                  <span class="input-group-btn">
                      <button class="btn btn-warning btn-sm" id="btn-chat" [disabled]="!msgForm.form.valid">
                          Send</button>
                  </span>
              </div>
            </form>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="col-md-3">
    </div>
</div>
