<style>
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<nb-card>
  <nb-card-header><h4>Class Information</h4></nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-header><h5>Information</h5></nb-card-header>
      <nb-card-body>
        <p><b>Class: </b>{{ Class?.class.prefix }} {{ Class?.class.courseNo }}</p>
        <br>
        <p><b>Semester Offered: </b>(Not yet object in DB)</p>
        <br>
        <p><b>Pre-Requisites: </b></p>
        <table>
          <tr *ngFor="let prereq of prerequisites">
              <td><p>{{prereq}}</p></td>
          </tr>
        </table>
        <br>
        <p><b>Credit Hours: </b>{{ Class?.hrs }}</p>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header><h5>Description</h5></nb-card-header>
      <nb-card-body>
        <p>{{ Class?.description }}</p>
      </nb-card-body>
    </nb-card>
    <button (click)="goBack()" type="button" class="btn btn-success">Back</button>
  </nb-card-body>
</nb-card>
