<form role="form" action="/api/login" method="post" style="max-width: 300px;" class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="inputEmail" class="sr-only"></label>
  <input type="text" name="username" id="inputEmail" placeholder="Username" required="required" autofocus="autofocus" class="form-control"/>
  <input type="password" name="password" id="inputPassword" placeholder="Password" class="form-control"/>
  <button type="submit" class="btn btn-lg btn-primary btn-block">LOGIN</button>
</form>
