<nb-card>
  <nb-card-header>
    <ngx-refresh-button (messageEvent)="receiveSource($event)" ></ngx-refresh-button>
    <br>
    <br>
    <span>Request Status</span>
  </nb-card-header>
  <nb-card-body *ngIf="currentCart; else noCart">
    <b> Status:</b>  {{ currentCart.status | ngxCapitalize }}
    <br>
    <br>
    <ng2-smart-table [settings]="settings"  [source]="source"></ng2-smart-table>
  </nb-card-body>
  <nb-card-footer></nb-card-footer>

  <ng-template #noCart>
    <nb-card-body> No cart request made yet </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </ng-template>
</nb-card>
