<ng-template [ngIf]="this.recomendation !== 0">
  <nb-card size="large">
    <nb-card-header>
      <div class="header">
        <div class="name bold"><h4>Future Classes</h4></div>
    </div>
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (userRowSelect)="onUserRowSelect($event)"
        #table>
      </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer align-items="center">
      <ng-template [ngIf]="this.cart?.status === 'created'">
      <button position="left" (click)="addToCart()" type="button" class="btn btn-success">Add Classes To Cart</button>
      </ng-template>

      <button position="right" (click)="goToClasses()" type="button" class="btn btn-success">Full Course List</button>
    </nb-card-footer>
  </nb-card>
</ng-template>



<ng-template [ngIf]="this.recomendation === 0">
  <nb-card size="large">
    <nb-card-header>
      <div class="header">
        <div class="name bold"><h4>Future Classes</h4></div>
    </div>
    </nb-card-header>
    <nb-card-body>
      <p> There are no more courses to recommend to you. If this is an error please contact your advisor or local administrator. </p>
    </nb-card-body>


    <nb-card-footer align-items="center">

      <button position="right" (click)="goToClasses()" type="button" class="btn btn-success">Full Course List</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
