<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation" *ngIf="!isLandingPage"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()" *ngIf="isLandingPage === false"><img src="/assets/images/AdviseMeLogo.png" style="height: 40px; width: 40px; margin-right:10px">Advise<span>Me</span></div>
    <div class="logo-no-border" (click)="goToHome()" *ngIf="isLandingPage"><img src="/assets/images/AdviseMeLogo.png" style="height: 40px; width: 40px; margin-right:10px">Advise<span>Me</span></div>
  </div>
</div>
<div *ngIf="!isLandingPage; else loginAlone">
  <nb-actions
    size="medium"
    class="header-container"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'"
    *ngIf="currentUser?.role === 'student'; else notStudent" >
    <nb-action (click)="goToCart()" class="control-item" icon="fa fa-shopping-cart fa-fw" ></nb-action>
    <nb-action>
      <nb-user [menu]="studentMenu" [name]="fullName" [picture]="currentUser?.profilePicture"></nb-user>
    </nb-action>
  </nb-actions>
</div>

<ng-template #notStudent>
  <nb-actions
    size="medium"
    class="header-container"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <nb-action>
      <nb-user [menu]="upperMenu" [name]="fullName" [picture]="currentUser?.profilePicture"></nb-user>
    </nb-action>
  </nb-actions>
</ng-template>

<ng-template #loginAlone>
  <button *ngIf="this.router.url === '/landing'" class="btn btn-success" (click)="aboutBtn()">About</button>
  <button *ngIf="this.router.url === '/about'" class="btn btn-success" (click)="homeBtn()">Home</button>
  <span style="width:10px"></span>
  <button class="btn btn-success" (click)="loginBtn()">Login</button>
</ng-template>
