<nb-card>
      <nb-card-header>Edit Profile</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="update()" #form="ngForm">
          <div class="input-group">
            <span *ngIf="username.valid"class="input-group-addon success">@</span>
            <span *ngIf="username.invalid" class="input-group-addon danger">@</span>
            <input name="username" [(ngModel)]="currentUser.username" id="input-username"
                     class="form-control form-control-danger" placeholder="Username" required value="{{currentUser.username}}"#username="ngModel"
                     required minlength="4"
                     [class.form-control-danger]="username.invalid && username.touched" autofocus>
          </div>
          <div class="input-group">
            <span *ngIf="firstName.valid" class="input-group-addon success"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
            <span *ngIf="firstName.invalid" class="input-group-addon danger"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
            <input name="firstName" [(ngModel)]="currentUser.firstName" id="input-firstName"
                     class="form-control" placeholder="First name" #firstName="ngModel"
                     required minlength="1"
                     required maxlength="25"
                     [class.form-control-danger]="firstName.invalid && firstName.touched" autofocus>

          </div>
          <div class="input-group">
            <span *ngIf="lastName.valid" class="input-group-addon success"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
            <span *ngIf="lastName.invalid" class="input-group-addon danger"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
            <input name="lastName" [(ngModel)]="currentUser.lastName" id="input-lastName"
                     class="form-control" placeholder="Last name" required value="{{currentUser.lastName}}" #lastName="ngModel"
                     required minlength="1"
                     [class.form-control-danger]="lastName.invalid && lastName.touched" autofocus>
          </div>
          <div class="input-group mail-btn-group">
            <span *ngIf="email.valid" class="input-group-addon success"><i class="ion-ios-email-outline" aria-hidden="true"></i></span>
            <span *ngIf="email.invalid" class="input-group-addon danger"><i class="ion-ios-email-outline" aria-hidden="true"></i></span>
            <input name="email" [(ngModel)]="currentUser.email" class="form-control" value="{{emailBegin}}" #email="ngModel"
            required minlength="1"
            [class.form-control-danger]="email.invalid && email.touched" autofocus>
          </div>
          <div class="input-group">
            <span *ngIf="university.valid" class="input-group-addon success"><i class="ion-university" aria-hidden="true"></i></span>
            <span *ngIf="university.invalid" class="input-group-addon danger"><i class="ion-university" aria-hidden="true"></i></span>
            <input name="university" [(ngModel)]="currentUser.university" id="input-university"
                     class="form-control" placeholder="University" value="{{currentUser.university}}" #university="ngModel"
                     required minlength="2"
                     [class.form-control-danger]="university.invalid && university.touched" autofocus>
          </div>
          <div class="input-group">
            <span *ngIf="status.valid" class="input-group-addon success"><i class="ion-university" aria-hidden="true"></i></span>
            <span *ngIf="status.invalid" class="input-group-addon danger"><i class="ion-status" aria-hidden="true"></i></span>
            <input name="status" [(ngModel)]="currentUser.status" id="input-status"
                     class="form-control" placeholder="Status" value="{{currentUser.status}}" #status="ngModel"
                     required minlength="2"
                     [class.form-control-danger]="status.invalid && status.touched" autofocus>
          </div>
          <div class="input-group">
            <span *ngIf="major.valid" class="input-group-addon success"><i class="ion-university" aria-hidden="true"></i></span>
            <span *ngIf="major.invalid" class="input-group-addon danger"><i class="ion-major" aria-hidden="true"></i></span>
            <input name="major" [(ngModel)]="currentUser.major" id="input-major"
                     class="form-control" placeholder="Major" value="{{currentUser.major}}" #major="ngModel"
                     required minlength="2"
                     [class.form-control-danger]="major.invalid && major.touched" autofocus>
          </div>
          <button [disabled]="submitted || !form.valid || form.pristine" class="btn btn-block btn-hero-success"
                [class.btn-pulse]="submitted">
          Update Profile
        </button>
      </form>
      </nb-card-body>
    </nb-card>
