<form role="form" action="/api/register" method="post" style="max-width: 300px;" class="form-signin">
  <h2 class="form-signin-heading">Sign Up here</h2>
  <input type="text" id="name" name="name" placeholder="Your Name" class="form-control"/>
  <input type="text" id="username" name="username" placeholder="Your Username" class="form-control"/>
  <input type="password" id="password" name="password" placeholder="Your Password" class="form-control"/>
  <button type="submit" id="submitBtn" class="btn btn-lg btn-primary btn-block">Sign Up</button>
</form>
