<style>
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<nb-card>
  <nb-card-header>Class Information</nb-card-header>
  <nb-card-body>
    <nb-card>
      <nb-card-header>Information</nb-card-header>
      <nb-card-body>
        <p><b>Class: </b>{{ Class?.class.prefix }} {{ Class?.class.courseNo }}</p>
        <br>
        <p><b>Semester Offered: </b>(Not yet object in DB)</p>
        <br>
        <p><b>Pre-Requisites: </b>(DB needs to include required grade)</p>
        <br>
        <p><b>Credit Hours: </b>{{ Class?.hrs }}</p>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Description</nb-card-header>
      <nb-card-body>
        <p>{{ Class?.description }}</p>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Related Classes</nb-card-header>
      <nb-card-body>
        <p>(Not yet object in DB)</p>
        <!-- <table>
          <tr>
            <th>Completed</th>
            <th>Course</th>
            <th>Reason</th>
          </tr>
          <tr>
            <td text-align: center><input id="checkBox" type="checkbox" checked></td>
            <td>ENGL 101</td>
            <td>Pre-Requisite</td>
          </tr>
          <tr>
            <td text-align: center><input id="checkBox" type="checkbox"></td>
            <td>ENGL 462</td>
            <td>CS Curriculum Option</td>
          </tr>
          <tr>
            <td text-align: center><input id="checkBox" type="checkbox" checked></td>
            <td>ENGL 463</td>
            <td>CS Curriculum Option</td>
          </tr>
        </table> -->
      </nb-card-body>
    </nb-card>
    <button (click)="goClassTableView()" type="button" class="btn btn-success">Back</button>
  </nb-card-body>
</nb-card>
